@page "/tarea/tareas"

@using Tareas.Data;

@inject TareaService service
@inject NavigationManager navigation
@inject IJSRuntime JsRuntime

<h3>Tareas</h3>
<button class="btn btn-success" @onclick="()=>Editar(0)">Nuevo</button>

@if (tareas == null)
{
    <p>Loading...</p>
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Vencimiento</th>
                <th>Estimacion</th>
                @*<th>Recurso</th>*@
                <th>Estado</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tareas)
            {
            <tr>
                <td>@item.Titulo</td>
                <td>@item.Vencimiento</td>
                <td>@item.Estimacion</td>
                @*<td>@item.Responsable.Nombre</td>*@
                <td>@item.Estado</td>
                <td><button class="btn" @onclick="()=>Editar(item.IdTareas)">Editar</button> <button class="btn" @onclick="()=>Borrar(item.IdTareas)">Borrar</button> @*<button class="btn" @onclick="()=>EditarRecurso(item.Responsable.IdRecursos)">Detalles</button>*@</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Tareas.Data.Tarea> tareas;

    protected override async Task OnInitializedAsync()
    {
        tareas = await service.GetTareas();
    }

    protected void Editar(int id)
    {
        navigation.NavigateTo("tarea/editartarea/" + id);
    }

    protected void EditarRecurso(int id)
    {
        navigation.NavigateTo("tarea/editartarea/" + id);
    }

    async Task Borrar(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Desea elimiar el usuario?");
        if (confirmed)
        {
            await service.Remove(id);
            tareas = await service.GetTareas();
        }
    }
}
